<div class="flex w-full items-center justify-center overflow-x-auto rounded-xl py-1">
  <table tuiTable [size]="'s'" [style.width.rem]="58" [(ngModel)]="selected">
    <!-- ================================================= -->
    <!-- HEADER -->
    <!-- ================================================= -->

    <thead>
      <tr>
        <th tuiTh>
          <div [tuiCell]="'s'">
            <input tuiCheckbox tuiCheckboxTable type="checkbox" [size]="'s'" />
          </div>
        </th>

        <th tuiTh>Doctor</th>

        <th tuiTh>Especialidad</th>

        <th tuiTh>Contacto</th>

        <th tuiTh>Horario</th>

        <th tuiTh>Estado</th>

        <th tuiTh>Acciones</th>
      </tr>
    </thead>

    <!-- ================================================= -->
    <!-- BODY -->
    <!-- ================================================= -->

    <tbody tuiTbody>
      @if (loading()) {
        <!-- ============================================= -->
        <!-- LOADING -->
        <!-- ============================================= -->

        <tr>
          <td tuiTd colspan="7">
            <div class="flex min-h-60 w-full items-center justify-center">
              <tui-loader [style.--tui-diameter.rem]="4.5" />
            </div>
          </td>
        </tr>
      } @else {
        <!-- ============================================= -->
        <!-- DOCTORS -->
        <!-- ============================================= -->

        @for (doctor of doctors(); track doctor.id) {
          <tr>
            <!-- ========================================= -->
            <!-- SELECCIÓN -->
            <!-- ========================================= -->

            <td tuiTd>
              <div [tuiCell]="'s'">
                <input tuiCheckbox type="checkbox" [size]="'s'" [tuiCheckboxRow]="doctor" />
              </div>
            </td>

            <!-- ========================================= -->
            <!-- DOCTOR -->
            <!-- ========================================= -->

            <td tuiTd>
              <div [tuiCell]="'s'">
                <div
                  [style.background]="doctor.firstName + ' ' + doctor.lastName | tuiAutoColor"
                  [tuiAvatar]="doctor.firstName + ' ' + doctor.lastName | tuiInitials"
                ></div>

                <span tuiTitle>
                  {{ doctor.firstName }}
                  {{ doctor.lastName }}

                  <span tuiSubtitle>
                    {{ doctor.licenseNumber }}
                  </span>
                </span>
              </div>
            </td>

            <!-- ========================================= -->
            <!-- ESPECIALIDAD -->
            <!-- ========================================= -->

            <td tuiTd>
              <div [tuiCell]="'s'">
                <span tuiTitle>
                  {{ doctor.specialty.name }}
                </span>
              </div>
            </td>

            <!-- ========================================= -->
            <!-- CONTACTO -->
            <!-- ========================================= -->

            <td tuiTd>
              <div [tuiCell]="'s'">
                <span tuiTitle>
                  {{ doctor.phone || 'Sin teléfono' }}

                  <span tuiSubtitle>
                    {{ doctor.email || 'Sin correo' }}
                  </span>
                </span>
              </div>
            </td>

            <!-- ========================================= -->
            <!-- HORARIO -->
            <!-- ========================================= -->

            <td tuiTd>
              <div [tuiCell]="'s'">
                <span tuiTitle>
                  {{ doctor.scheduleStart | timeRange: doctor.scheduleEnd }}
                </span>
              </div>
            </td>

            <!-- ========================================= -->
            <!-- ESTADO -->
            <!-- ========================================= -->

            <td tuiTd>
              <span
                [tuiStatus]="
                  doctor.active ? 'var(--tui-status-positive)' : 'var(--tui-status-negative)'
                "
              >
                {{ doctor.active ? 'Activo' : 'Inactivo' }}
              </span>
            </td>

            <!-- ========================================= -->
            <!-- ACCIONES -->
            <!-- ========================================= -->

            <td tuiTd>
              <span tuiStatus>
                <!-- Editar -->
                @if (loadingDoctorId() === doctor.id && loadingAction() === 'edit') {
                  <tui-loader />
                } @else {
                  <button
                    appearance="action"
                    iconStart="@tui.pencil"
                    size="xs"
                    tuiIconButton
                    type="button"
                    (click)="editDoctor(doctor)"
                  >
                    Editar
                  </button>
                }

                <!-- Más -->
                @if (loadingDoctorId() === doctor.id && loadingAction() === 'more') {
                  <tui-loader />
                } @else {
                  <button
                    appearance="action"
                    iconStart="@tui.ellipsis"
                    size="xs"
                    tuiIconButton
                    type="button"
                    (click)="moreDoctor(doctor)"
                  >
                    Más
                  </button>
                }
              </span>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<!-- ===================================================== -->
<!-- DETALLE -->
<!-- ===================================================== -->

<app-doctor-detail
  [doctor]="selectedDoctor()"
  (close)="closeDetail.emit()"
/>
