<ng-template
  [tuiNotificationMiddleOptions]="{ closable: true }"
  [tuiNotificationMiddle]="open()"
  (tuiNotificationMiddleChange)="open.set($event)"
>
  @if (status() === 'loading') {
    <tui-loader tuiAnimated />

    <div tuiAnimated>Procesando...</div>
  } @else if (status() === 'success') {

<div
  tuiAnimated
  tuiAvatar
  size="xxl"
  class="mb-3"
  [round]="false"
>
  <img
    alt="Success"
    src="/svg-draw/powerful.svg"
    class="scale-200 object-cover object-[120%_20%]"
  />
</div>
  <div tuiAnimated>
    {{ message() }}
  </div>

}@else if (status() === 'error') {
    <div appearance="negative" tuiAnimated tuiAvatar="@tui.octagon-alert"></div>

    <div tuiAnimated>
      {{ messageProblem() }}
    </div>
  }
</ng-template>
