<div class="flex w-full flex-col gap-5">
  <!-- Header -->
  <div class="flex w-full items-center justify-between">
    <div>
      <h1 class="text-xl font-semibold text-slate-900">Nueva cita</h1>

      <p class="text-sm text-slate-500">Registra una nueva cita médica</p>
    </div>

    <button
      tuiButton
      type="button"
      appearance="secondary"
      size="s"
      [routerLink]="['/appointments']"
    >
      Cancelar
    </button>
  </div>

  <!-- Formulario -->
  <form
    tuiForm="m"
    [formGroup]="form"
    (ngSubmit)="create()"
    class="w-full rounded-xl border border-slate-200 bg-white p-6 shadow-sm"
  >
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
      <!-- ====================================== -->
      <!-- ESPECIALIDAD -->
      <!-- ====================================== -->

      <tui-textfield
        tuiChevron
        tuiTextfieldSize="m"
        [stringify]="(value) => specialties.find((s) => s.id === value)?.name || ''"
      >
        <label tuiLabel> Especialidad </label>

        <input tuiSelect formControlName="specialtyId" placeholder="Selecciona una especialidad" />

        <tui-data-list *tuiDropdown>
          @for (specialty of specialties; track specialty.id) {
            <button tuiOption type="button" [value]="specialty.id">
              {{ specialty.name }}
            </button>
          }
        </tui-data-list>
        <span><tui-error formControlName="specialtyId" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- PACIENTE -->
      <!-- ====================================== -->

      <tui-textfield
        tuiChevron
        tuiTextfieldSize="m"
        [stringify]="(value) => patients.find((p) => p.id === value)?.name || ''"
      >
        <label tuiLabel> Paciente </label>

        <input tuiSelect formControlName="patientId" placeholder="Selecciona un paciente" />

        <tui-data-list *tuiDropdown>
          @for (patient of patients; track patient.id) {
            <button tuiOption type="button" [value]="patient.id">
              {{ patient.name }}
            </button>
          }
        </tui-data-list>
        <span><tui-error formControlName="patientId" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- MÉDICO -->
      <!-- ====================================== -->

      <tui-textfield
        tuiChevron
        tuiTextfieldSize="m"
        [stringify]="(value) => doctors.find((d) => d.id === value)?.name || ''"
      >
        <label tuiLabel> Médico </label>

        <input required tuiSelect formControlName="doctorId" placeholder="Selecciona un médico" />

        <tui-data-list *tuiDropdown>
          @for (doctor of doctors; track doctor.id) {
            <button tuiOption type="button" [value]="doctor.id">
              {{ doctor.name }}
            </button>
          }
        </tui-data-list>
        <span><tui-error formControlName="doctorId" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- TIPO DE CITA -->
      <!-- ====================================== -->

      <tui-textfield
        tuiChevron
        tuiTextfieldSize="m"
        [stringify]="(value) => appointmentTypes.find((at) => at.id === value)?.name || ''"
      >
        <label tuiLabel> Tipo de cita </label>

        <input
          tuiSelect
          formControlName="appointmentTypeId"
          placeholder="Selecciona el tipo de cita"
        />

        <tui-data-list *tuiDropdown>
          @for (appointmentType of appointmentTypes; track appointmentType.id) {
            <button tuiOption type="button" [value]="appointmentType.id">
              {{ appointmentType.name }}
            </button>
          }
        </tui-data-list>
        <span><tui-error formControlName="appointmentTypeId" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- DURACIÓN -->
      <!-- ====================================== -->

      <tui-textfield tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
        <label tuiLabel>Duración (minutos)</label>

        <input
          postfix=" min"
          tuiInputNumber
          [max]="120"
          [min]="30"
          [step]="30"
          formControlName="durationMinutes"
          placeholder="Minutos"
        />
        <span><tui-error formControlName="durationMinutes" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- FECHA -->
      <!-- ====================================== -->

      <tui-textfield tuiTextfieldSize="m">
        <label tuiLabel> Fecha </label>

        <input
          tuiInputDate
          type="date"
          formControlName="scheduledDate"
          [min]="today"
          [max]="maxDay"
        />

        <tui-calendar *tuiDropdown />
        <span><tui-error formControlName="scheduledDate" /></span>
      </tui-textfield>

      <!-- ====================================== -->
      <!-- HORA -->
      <!-- ====================================== -->

      <tui-textfield tuiTextfieldSize="m" [disabledItemHandler]="disabledItemHandler">
        <input
          placeholder="Click me to open dropdown"
          tuiInputTime
          formControlName="scheduledTime"
        />

        <tui-data-list-wrapper *tuiDropdown [items]="items | tuiFilterByInput: filter" />
        <span><tui-error formControlName="scheduledTime" /></span>
      </tui-textfield>

      <div></div>

      <!-- MOTIVO -->
      <tui-textfield iconStart="@tui.pencil" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
        <label tuiLabel>Escribe tu motivo</label>
        <textarea tuiTextarea [max]="4" [min]="4" formControlName="reason"></textarea>
      </tui-textfield>

      <!-- NOTAS -->
      <tui-textfield iconStart="@tui.pencil" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
        <label tuiLabel>Escribe tus notas</label>
        <textarea tuiTextarea [max]="4" [min]="4" formControlName="notes"></textarea>
        <span><tui-error formControlName="notes" /></span>
      </tui-textfield>
      
    </div>

    <!-- ====================================== -->
    <!-- ACCIONES -->
    <!-- ====================================== -->

    <div class="mt-6 flex justify-end gap-3 border-t border-slate-100 pt-5">
      <button
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        [routerLink]="['/appointments']"
      >
        Cancelar
      </button>

      <button tuiButton type="submit" appearance="primary" size="s">Crear cita</button>
    </div>
  </form>
</div>
